/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 18, 2015, 2:58:02 PM
    Author     : drewbryant
*/
*{
    font-family: 'Amaranth', sans-serif;
}
html{
    background-image: url("http://localhost:8080/HTMLClassExerciseF15/images/bats.gif");
}
body{
    width: 800px;
    border: 5px solid black;
    box-shadow: 0 1px 10px 5px black;
    margin: auto;
    background-color: white;
}
h1.top{
    font-size: 2.5em; 
}
header{
    text-indent: 20px;
    border-bottom: 2px solid black;
    padding-top: 5px;
    background: linear-gradient(45deg, white, orange, black);
}
section h1{
    margin-bottom: 15px;
    text-align: center;
}
ul:nth-child(3) li{
    margin-top: 5px;
    background-color: orange;
    border: 1px solid black;
}
#horizontal a, #leftbar a{
    text-decoration: none;
}
#horizontal a{
    color: white;
    
}
#horizontal :nth-child(2) :first-child{
    color: orange;
}
#leftbar a{
    display: block;
    color: black;
    padding-left: 5px;
}
#leftbar a:hover{
    color: green;
}
#horizontal a:hover{
    background-color: gray;
}
img.pumpkin{
    float: left;
    margin-bottom: 25px;
}
footer{
    text-align: center;
    font-size: 75%;
    border-top: 2px solid black;
    padding: 10px;
    background: linear-gradient(45deg, black, orange, white);
}
ul{
    display: block;
    list-style-type: none;
}
#leftbar{
    float: left;
    margin-bottom: 500px;
    margin-right: 10px;
    /*display: block;*/
    width: 110px;
}
#horizontal{
    background: black;
    margin: 0px;
    padding-left: 0px;
}
#horizontal li{
    display: inline;
    /*background: black;*/
    padding-left: 35px;
    padding-right: 35px;
}
section img{
    float:left;
}
p{
    margin-bottom: 200px;
    margin-left: 310px;
}
table{
    border-collapse: collapse;
    margin-bottom: 50px;
    margin-right: 50px;
}
table a{
    color: black;
}
tr :nth-child(3){
    background: #F5DEB3;
    width: 50px;
}
